@{
    ViewData["Title"] = "小蔡旅行社-包車服務";
}

<!-- ... Banner ... -->
<section class="banner_box">
    <div class="banner_detail">
        <div class="banner_text clearfix">
            <img class="banner_icon" src="~/images/banner_car_trip_icon.png" alt="包車服務ICON">
            <h1>包車服務</h1>
        </div>
    </div>
</section>


<!-- ... 多日旅遊 ... -->
<section class="news_box">
    <ul class="fixed_btn_box">
        <li><a href="https://a87827622.pixnet.net/blog"><img src="~/images/pixname.png" alt="痞按鈕" title="痞按鈕"></a></li>
        <li><a href="https://lin.ee/3t3Fq3o"><img src="~/images/line.png" alt="~/Line按鈕" title="Line按鈕"></a></li>
        <li><a href="https://www.facebook.com/everyday1798"><img src="~/images/fb.png" alt="FB按鈕" title="FB按鈕"></a></li>
        <li><img src="~/images/IG.png" alt="IG按鈕" title="IG按鈕"></li>
        <li><img src="~/images/go_top_btn.png" id="go_top_btn" alt="回到網頁頂端按鈕" title="回到網頁頂端按鈕"></li>
    </ul>
    <div class="container">
        <div class="bread_crumb">
            <a href="index.html"><i class="fa fa-1g fa-home"></i>首頁</a><i class="fa fa-angle-right"></i><span class="page_name">包車旅遊</span>
        </div>
        <div class="news_detail_box">
            <div id="tab_3" class="tab_content tab_content_3 travel_current">
            </div>
        </div>
    </div>
</section>


</section>
@section Scripts {
    <script type="text/javascript" src="~/js/carTrip.js"></script>
}