@{
    ViewData["Title"] = "小蔡旅行社-離島旅遊";
}

<!-- ... Banner ... -->
<section class="banner_box banner_place banner_box_height">
    <div class="banner_detail">
        <div class="banner_text clearfix">
            <img class="banner_icon" src="~/images/banner_island_trip_icon.png" alt="離島旅遊ICON">
            <h1>離島旅遊</h1>
        </div>
    </div>
</section>


<!-- ... 多日旅遊 ... -->
<section class="news_box">
    <ul class="fixed_btn_box">
        <li><a href="https://a87827622.pixnet.net/blog"><img src="~/images/pixname.png" alt="痞按鈕" title="痞按鈕"></a></li>
        <li><a href="https://lin.ee/3t3Fq3o"><img src="~/images/line.png" alt="Line按鈕" title="Line按鈕"></a></li>
        <li><a href="https://www.facebook.com/everyday1798"><img src="~/images/fb.png" alt="FB按鈕" title="FB按鈕"></a></li>
        <li><img src="~/images/IG.png" alt="IG按鈕" title="IG按鈕"></li>
        <li><img src="~/images/go_top_btn.png" class="desktop_go_top_btn" alt="回到網頁頂端按鈕" title="回到網頁頂端按鈕"></li>
    </ul>
    <div class="container">
        <div class="bread_crumb">
            <a asp-area="" asp-controller="" asp-action=""><i class="fa fa-1g fa-home"></i>首頁</a><i class="fa fa-angle-right"></i><span class="page_name">離島旅遊</span>
        </div>
        <div class="news_detail_box">
            <ul class="one_day_search_box clearfix">
                <li><input type="date" id="start_time" name="start_time"></li>
                <li><input type="text" id="location" placeholder="請輸入目的地"></li>
                <li><a class="one_day_search_btn" href="#">行程搜尋</a></li>
            </ul>
            <div id="tab_2" class="tab_content tab_content_2 travel_current">
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="~/js/islandTrip.js"></script>
}
