@{
    ViewData["Title"] = "小蔡旅行社-離島旅遊";
}

<!-- ... Banner ... -->
<section class="banner_box">
    <div class="banner_detail">
        <div class="banner_text clearfix">
            <img class="banner_icon" src="~/images/banner_island_trip_icon.png" alt="離島旅遊ICON">
            <h1>離島旅遊</h1>
        </div>
    </div>
</section>


<!-- ... 多日旅遊 ... -->
<section class="news_box">
    <ul class="fixed_btn_box">
        <li><img src="~/images/twitter.png" alt="Twitter按鈕" title="Twitter按鈕"></li>
        <li><img src="~/images/line.png" alt="Line按鈕" title="Line按鈕"></li>
        <li><img src="~/images/fb.png" alt="FB按鈕" title="FB按鈕"></li>
        <li><img src="~/images/IG.png" alt="IG按鈕" title="IG按鈕"></li>
        <li><img src="~/images/go_top_btn.png" id="go_top_btn" alt="回到網頁頂端按鈕" title="回到網頁頂端按鈕"></li>
    </ul>
    <div class="container">
        <div class="bread_crumb">
            <a href="index.html"><i class="fa fa-1g fa-home"></i>首頁</a><i class="fa fa-angle-right"></i><span class="page_name">離島旅遊</span>
        </div>
        <div class="news_detail_box">
            <div id="tab_2" class="tab_content tab_content_2 travel_current">
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="~/js/islandTrip.js"></script>
}
