@{
    ViewData["Title"] = "品牌理念";
}

<!-- ... Banner ... -->
<section class="banner_box">
    <div class="banner_detail">
        <div class="banner_text clearfix">
            <img class="banner_icon" src="~/images/banner_brand_icon.png" alt="品牌理念ICON">
            <h1>品牌理念</h1>
        </div>
    </div>
</section>

<!-- ... 品牌理念 ... -->
<section class="news_box">
    <ul class="fixed_btn_box">
        <li><a href="https://a87827622.pixnet.net/blog"><img src="~/images/pixname.png" alt="痞按鈕" title="痞按鈕"></a></li>
        <li><a href="https://lin.ee/3t3Fq3o"><img src="~/images/line.png" alt="Line按鈕" title="Line按鈕"></a></li>
        <li><a href="https://www.facebook.com/everyday1798"><img src="~/images/fb.png" alt="FB按鈕" title="FB按鈕"></a></li>
        <li><img src="~/images/IG.png" alt="IG按鈕" title="IG按鈕"></li>
        <li><img src="~/images/go_top_btn.png" id="go_top_btn" alt="回到網頁頂端按鈕" title="回到網頁頂端按鈕"></li>
    </ul>
    <div class="container">
        <div class="bread_crumb">
            <a asp-area="" asp-controller="" asp-action=""><i class="fa fa-1g fa-home"></i>首頁</a><i class="fa fa-angle-right"></i>品牌理念
        </div>
        <div class="news_detail_box">
            <div class="brand_sales_text">
                <h2>打造優質的旅遊環境 / 規劃優等的品質行程</h2>
                <h3>
                    我們以此為契機、打造<span class="point">優質旅遊環境</span>、規劃<span class="point">高品質行程</span>、讓您與<span class="point">家人同樂</span>
                    <br />享受和<span class="point">家人分享旅遊點滴</span>的美好時光、讓<span class="point">家溫馨起來!</span>
                </h3>
            </div>
            <div class="brand_logo_spirit">
                <h1>品牌精神核心</h1>
                <div class="brand_spirit clearfix">
                    <img class="logo" src="~/images/brand_logo.png" alt="小蔡旅行社LOGO" title="小蔡旅行社LOGO">
                    <p>整體以人像做呈現，且以小蔡人像為核心，代表導遊領隊真誠服務各位，凸顯出清爽有朝氣，色彩上跳色的藍與橘互相搭配，營造有清新活力的感覺！</p>
                </div>
            </div>
            <div class="mt60 six_service_list" id="six">
                <h1>六大服務項目</h1>
                <ul class="news_content clearfix">
                    <li>
                        <img src="~/images/brand_photo1.png" alt="包車服務" title="包車服務">
                        <h4>包車服務</h4>
                        <p>想要一起和家人到此一遊，擁有私密的家庭時光或享受個人包車的高級享受嗎？</p>
                    </li>
                    <li>
                        <img src="~/images/brand_photo2.png" alt="跟團旅遊" title="跟團旅遊">
                        <h4>跟團旅遊</h4>
                        <p>人多出去玩，熱鬧不怯場，跟團出遊好歡樂！</p>
                    </li>
                    <li>
                        <img src="~/images/brand_photo3.png" alt="離島旅遊" title="離島旅遊">
                        <h4>離島旅遊</h4>
                        <p>金門/馬祖/澎湖，台灣最重要離島一生必去！</p>
                    </li>
                </ul>
                <ul class="news_content clearfix">
                    <li>
                        <img src="~/images/brand_photo4.png" alt="多日旅遊" title="多日旅遊">
                        <h4>多日旅遊</h4>
                        <p>疲憊太久想來個多天的旅遊玩瘋一點嗎？快來報名多日遊行程。</p>
                    </li>
                    <li>
                        <img src="~/images/brand_photo5.png" alt="國外旅遊" title="國外旅遊">
                        <h4>國外旅遊</h4>
                        <p>過內玩透透，國外再來go，想去哪，小蔡幫你安排用到好！</p>
                    </li>
                    <li>
                        <img src="~/images/brand_photo6.png" alt="客製化旅遊-親子/蜜月/家庭" title="客製化旅遊-親子/蜜月/家庭">
                        <h4>客製化旅遊-親子/蜜月/家庭</h4>
                        <p>還在煩惱無法規劃出心中完美的旅遊行程嗎？我們客製化出您最理想的行程。</p>
                    </li>
                </ul>
            </div>
            <!--<div class="mt60 six_service_list" id="certificate">
               <h1>執照保單內容</h1>
               <ul class="news_content clearfix">
                  <li>
                     <img src="images/certificate1.jpg" alt="旅行業執照保單文件" title="旅行業執照保單文件">
                  </li>
                  <li>
                     <img src="images/certificate2.jpg" alt="旅行業責任保險" title="旅行業責任保險">
                  </li>
                  <li>
                     <img src="images/certificate3.jpg" alt="旅行業責任保險" title="旅行業責任保險">
                  </li>
               </ul>
               <ul class="news_content clearfix">
                  <li>
                     <img src="images/certificate4.jpg" alt="旅行業執照保單文件" title="旅行業執照保單文件">
                  </li>
                  <li>
                     <img src="images/certificate5.jpg" alt="中華民國旅行業品質保障協會-2019年會員證書" title="中華民國旅行業品質保障協會-2019年會員證書">
                  </li>
               </ul>
            </div>-->
        </div>
    </div>
</section>