@{
    ViewData["Title"] = "乘車時間";
}

<!-- ... Banner ... -->
<section class="banner_box banner_place banner_box_height">
    <div class="banner_detail">
        <div class="banner_text clearfix">
            <img class="banner_icon" src="~/images/banner_bus_time_icon.png" alt="乘車時間ICON">
            <h1>乘車時間</h1>
        </div>
    </div>
</section>

<!-- ... 品牌理念 ... -->
<section class="news_box">
    <ul class="fixed_btn_box">
        <li><a href="https://a87827622.pixnet.net/blog"><img src="~/images/pixname.png" alt="痞按鈕" title="痞按鈕"></a></li>
        <li><a href="https://lin.ee/3t3Fq3o"><img src="~/images/line.png" alt="Line按鈕" title="Line按鈕"></a></li>
        <li><a href="https://www.facebook.com/everyday1798"><img src="~/images/fb.png" alt="FB按鈕" title="FB按鈕"></a></li>
        <li><img src="~/images/IG.png" alt="IG按鈕" title="IG按鈕"></li>
        <li><img src="~/images/go_top_btn.png" class="desktop_go_top_btn" alt="回到網頁頂端按鈕" title="回到網頁頂端按鈕"></li>
    </ul>
    <div class="container">
        <div class="bread_crumb">
            <a asp-area="" asp-controller="" asp-action=""><i class="fa fa-1g fa-home"></i>首頁</a><i class="fa fa-angle-right"></i><span class="page_name">乘車時間</span>
        </div>
        <div class="news_detail_box bus_time_detail_box">
            <div class="tab_content tab_content_1 travel_current">
                <img class="bus_time_poster" src="~/images/bus_time_poster.jpg" alt="一日/多日遊台北出發上車時間">
                <ul class="news_content one_day_content bus_time_content clearfix mt0">
                    <li class="mobile_bottom">
                        <img class="one_day_trip_pic" src="~/images/bus_time_photo2.png" alt="花蓮清水斷崖一日遊" title="花蓮清水斷崖一日遊">
                        <div class="news_content_right">
                            <h4>台北-萬華龍山寺捷運站三號出口上車處</h4>
                            <ul class="place_detail clearfix">
                                <li>上車處位在康定路229號(全家萬華店)。</li>
                            </ul>
                        </div>
                    </li>
                    <li class="mobile_bottom">
                        <img class="one_day_trip_pic" src="~/images/bus_time_photo3.png" alt="台東攀登嘉明湖一日遊" title="台東攀登嘉明湖一日遊">
                        <div class="news_content_right">
                            <h4>新北-三重中正堂上車處</h4>
                            <ul class="place_detail clearfix">
                                <li>上車處位在自強路一段164號(萊爾富新北重強店門口)。</li>
                            </ul>
                        </div>
                    </li>
                    <li class="mobile_bottom">
                        <img class="one_day_trip_pic" src="~/images/bus_time_photo4.png" alt="台東攀登嘉明湖一日遊" title="台東攀登嘉明湖一日遊">
                        <div class="news_content_right">
                            <h4>新北-新莊大橋頭捷運站三號出口上車處</h4>
                            <ul class="place_detail clearfix">
                                <li>上車處位在重慶北路三段2號(大橋國民小學旁)。</li>
                            </ul>
                        </div>
                    </li>
                    <li class="mobile_bottom mobile_top">
                        <img class="one_day_trip_pic" src="~/images/bus_time_photo5.png" alt="台東攀登嘉明湖一日遊" title="台東攀登嘉明湖一日遊">
                        <div class="news_content_right">
                            <h4>台北車站東三門上車處</h4>
                            <ul class="place_detail clearfix">
                                <li>上車處位在台北市中正區北平西路台北車站內(車站內東三門-全家門口等)。</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>