@{
    ViewData["Title"] = "尚騰旅行社-下載專區";
}

<!-- ... Banner ... -->
<section class="banner_box banner_place banner_box_height">
    <div class="banner_detail">
        <div class="banner_text clearfix">
            <img class="banner_icon" src="~/images/banner_download_icon.png" alt="下載專區ICON">
            <h1>下載專區</h1>
        </div>
    </div>
</section>

<!-- ... 下載專區 ... -->
<section class="download_box">
    <ul class="fixed_btn_box">
        <li><a href="https://a87827622.pixnet.net/blog"><img src="~/images/pixname.png" alt="痞按鈕" title="痞按鈕"></a></li>
        <li><a href="https://lin.ee/3t3Fq3o"><img src="~/images/line.png" alt="Line按鈕" title="Line按鈕"></a></li>
        <li><a href="https://www.facebook.com/everyday1798"><img src="~/images/fb.png" alt="FB按鈕" title="FB按鈕"></a></li>
        <li><img src="~/images/IG.png" alt="IG按鈕" title="IG按鈕"></li>
        <li><img src="~/images/go_top_btn.png" class="desktop_go_top_btn" alt="回到網頁頂端按鈕" title="回到網頁頂端按鈕"></li>
    </ul>
    <div class="container">
        <div class="bread_crumb">
            <a asp-area="" asp-controller="" asp-action=""><i class="fa fa-1g fa-home"></i>首頁</a><i class="fa fa-angle-right"></i>下載專區
        </div>
        <div class="doc_rule_regular" id="certificate">
            <h3>執照與保單文件下載</h3>
            <table>
                <tr>
                    <td class="doc_rule_text">旅行業執照保單文件</td>
                    <td class="doc_rule_btn"><a class="blue_btn" href="~/file/certificate1.jpg" target="_blank">立即下載<span><img class="btn_icon" src="~/images/arrow_icon_blue.png" alt="藍色按鈕符號"></span></a></td>
                </tr>
                <tr>
                    <td class="doc_rule_text">旅行業責任保險</td>
                    <td class="doc_rule_btn"><a class="blue_btn" href="~/file/certificate2.jpg" target="_blank">立即下載<span><img class="btn_icon" src="~/images/arrow_icon_blue.png" alt="藍色按鈕符號"></span></a></td>
                </tr>
                <tr>
                    <td class="doc_rule_text">旅行業責任保險</td>
                    <td class="doc_rule_btn"><a class="blue_btn" href="~/file/certificate3.jpg" target="_blank">立即下載<span><img class="btn_icon" src="~/images/arrow_icon_blue.png" alt="藍色按鈕符號"></span></a></td>
                </tr>
                <tr>
                    <td class="doc_rule_text">旅行業執照保單文件</td>
                    <td class="doc_rule_btn"><a class="blue_btn" href="~/file/certificate4.jpg" target="_blank">立即下載<span><img class="btn_icon" src="~/images/arrow_icon_blue.png" alt="藍色按鈕符號"></span></a></td>
                </tr>
                <tr>
                    <td class="doc_rule_text">中華民國旅行業品質保障協會-2019年會員證書</td>
                    <td class="doc_rule_btn"><a class="blue_btn" href="~/file/certificate5.jpg" target="_blank">立即下載<span><img class="btn_icon" src="~/images/arrow_icon_blue.png" alt="藍色按鈕符號"></span></a></td>
                </tr>
            </table>
        </div>
        <div class="doc_rule_regular green_rule">
            <h3>旅遊規範文件下載</h3>
            <table>
                <tr>
                    <td class="doc_rule_text">國內旅遊定型化契約範本</td>
                    <td class="doc_rule_btn"><a class="green_btn" href="~/file/domestic_trip_contract.pdf" target="_blank">立即下載<span><img class="btn_icon" src="~/images/arrow_icon_green.png" alt="綠色按鈕符號"></span></a></td>
                </tr>
                <tr>
                    <td class="doc_rule_text">國內旅遊定型化契約範本</td>
                    <td class="doc_rule_btn"><a class="green_btn" href="~/file/domestic_trip_contract.pdf" target="_blank">立即下載<span><img class="btn_icon" src="~/images/arrow_icon_green.png" alt="綠色按鈕符號"></span></a></td>
                </tr>
                <tr>
                    <td class="doc_rule_text">國內旅遊定型化契約範本</td>
                    <td class="doc_rule_btn"><a class="green_btn" href="~/file/domestic_trip_contract.pdf" target="_blank">立即下載<span><img class="btn_icon" src="~/images/arrow_icon_green.png" alt="綠色按鈕符號"></span></a></td>
                </tr>
                <tr>
                    <td class="doc_rule_text">國內旅遊定型化契約範本</td>
                    <td class="doc_rule_btn"><a class="green_btn" href="~/file/domestic_trip_contract.pdf" target="_blank">立即下載<span><img class="btn_icon" src="~/images/arrow_icon_green.png" alt="綠色按鈕符號"></span></a></td>
                </tr>
                <tr>
                    <td class="doc_rule_text">國內旅遊定型化契約範本</td>
                    <td class="doc_rule_btn"><a class="green_btn" href="~/file/domestic_trip_contract.pdf" target="_blank">立即下載<span><img class="btn_icon" src="~/images/arrow_icon_green.png" alt="綠色按鈕符號"></span></a></td>
                </tr>
            </table>
        </div>
    </div>
</section>