@{
    ViewData["Title"] = "小蔡旅行社-首頁";
}

<!-- ... Slider -->
<section class="index_slider">
    <div class="index_slider">
        <div class="index_slide">
            <img src="~/images/index_banner1.png" alt="首頁banner">
        </div>
        <div class="index_slide">
            <img src="~/images/index_banner2.png" alt="首頁banner">
        </div>
        <div class="index_slide">
            <img src="~/images/index_banner3.png" alt="首頁banner">
        </div>
    </div>
</section>

<!-- ... Service -->
<div class="index_wrapper">
    <section class="service_box">
        <h2>貼心核心服務</h2>
        <ul class="service_box_list clearfix">
            <li class="service_padding">
                <img src="~/images/index_core_idea_icon1.png" alt="頂級行程 旅遊達人" title="頂級行程 旅遊達人">
                <p>頂級行程 旅遊達人</p>
            </li>
            <li class="service_s_padding">
                <img src="~/images/index_core_idea_icon2.png" alt="影片 照片回憶" title="影片 照片回憶">
                <p>影片 照片回憶</p>
            </li>
            <li class="service_padding">
                <img src="~/images/index_core_idea_icon3.png" alt="親子行程" title="親子行程">
                <p>親子行程</p>
            </li>
            <li class="service_padding">
                <img src="~/images/index_core_idea_icon4.png" alt="老伴手牽手行程" title="老伴手牽手行程">
                <p>老伴手牽手行程</p>
            </li>
        </ul>
    </section>
    <section class="index_news">
        <h2>最新消息</h2>
        <p class="news_more_read"><a href="~/news.html">瞭解更多</a></p>
        <div class="two_day_detail_box">
            <ul class="news_slider index_two_day_trip clearfix">
                <li class="news_slide">
                    <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                    <span class="date">2020.01.15</span>
                    <h4>台北沙崙海水浴場二日遊</h4>
                    <p>選擇台北 8 小時包車，平溪、十分不用煩惱火車公車交通轉乘、浪...</p>
                </li>
                <li class="news_slide">
                    <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                    <span class="date">2020.01.15</span>
                    <h4>花蓮清水斷崖二日遊</h4>
                    <p>選擇台北 8 小時包車，平溪、十分不用煩惱火車公車交通轉乘、浪...</p>
                </li>
                <li class="news_slide">
                    <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                    <span class="date">2020.01.15</span>
                    <h4>金門東莒島三日遊</h4>
                    <p>選擇台北 8 小時包車，平溪、十分不用煩惱火車公車交通轉乘、浪...</p>
                </li>
                <li class="news_slide">
                    <img src="~/images/index_trip_photo4.png" alt="台南文化古都三日遊" title="台南文化古都三日遊">
                    <span class="date">2020.01.15</span>
                    <h4>台南文化古都三日遊</h4>
                    <p>選擇台北 8 小時包車，平溪、十分不用煩惱火車公車交通轉乘、浪...</p>
                </li>
                <li class="news_slide">
                    <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                    <span class="date">2020.01.15</span>
                    <h4>金門東莒島三日遊</h4>
                    <p>選擇台北 8 小時包車，平溪、十分不用煩惱火車公車交通轉乘、浪...</p>
                </li>
                <li class="news_slide">
                    <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                    <span class="date">2020.01.15</span>
                    <h4>金門東莒島三日遊</h4>
                    <p>選擇台北 8 小時包車，平溪、十分不用煩惱火車公車交通轉乘、浪...</p>
                </li>
                <li class="news_slide">
                    <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                    <span class="date">2020.01.15</span>
                    <h4>金門東莒島三日遊</h4>
                    <p>選擇台北 8 小時包車，平溪、十分不用煩惱火車公車交通轉乘、浪...</p>
                </li>
                <li class="news_slide">
                    <img src="~/images/index_trip_photo4.png" alt="台南文化古都三日遊" title="台南文化古都三日遊">
                    <span class="date">2020.01.15</span>
                    <h4>台南文化古都三日遊</h4>
                    <p>選擇台北 8 小時包車，平溪、十分不用煩惱火車公車交通轉乘、浪...</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="two_day_service">
        <h2>旅遊行程資訊</h2>
        <div class="two_day_detail_box">
            <ul class="two_day_tabs two_day_btn_box clearfix">
                <li class="tab-link two_day_btn two_day_current"><a href="#tab_1">多日旅遊</a></li>
                <li class="tab-link two_day_btn"><a href="#tab_2">離島旅遊</a></li>
                <li class="tab-link two_day_btn"><a href="#tab_3">包車旅遊</a></li>
                <li class="tab-link two_day_btn"><a href="#tab_4">國外旅遊</a></li>
                <li class="tab-link two_day_btn"><a href="#tab_5">客製服務</a></li>
            </ul>
            <div id="tab_1" class="tab_content tab_content_1 travel_current">
                <ul class="index_two_day_trip clearfix">
                    <li>
                        <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北沙崙海水浴場二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo4.png" alt="台南文化古都三日遊" title="台南文化古都三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台南文化古都三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                </ul>
                <ul class="index_two_day_trip clearfix mt16">
                    <li>
                        <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北沙崙海水浴場二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo4.png" alt="台南文化古都三日遊" title="台南文化古都三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台南文化古都三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                </ul>
            </div>
            <div id="tab_2" class="tab_content tab_content_2">
                <ul class="index_two_day_trip clearfix">
                    <li>
                        <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北沙崙海水浴場二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo4.png" alt="台南文化古都三日遊" title="台南文化古都三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台南文化古都三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                </ul>
                <ul class="index_two_day_trip clearfix mt16">
                    <li>
                        <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北沙崙海水浴場二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                </ul>
            </div>
            <div id="tab_3" class="tab_content tab_content_3">
                <ul class="index_two_day_trip clearfix">
                    <li>
                        <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北沙崙海水浴場二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo4.png" alt="台南文化古都三日遊" title="台南文化古都三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台南文化古都三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                </ul>
                <ul class="index_two_day_trip clearfix mt16">
                    <li>
                        <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北沙崙海水浴場二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                </ul>
            </div>
            <div id="tab_4" class="tab_content tab_content_4">
                <ul class="index_two_day_trip clearfix">
                    <li>
                        <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北沙崙海水浴場二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo4.png" alt="台南文化古都三日遊" title="台南文化古都三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台南文化古都三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                </ul>
                <ul class="index_two_day_trip clearfix mt16">
                    <li>
                        <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北沙崙海水浴場二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo4.png" alt="台南文化古都三日遊" title="台南文化古都三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台南文化古都三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                </ul>
            </div>
            <div id="tab_5" class="tab_content tab_content_5">
                <ul class="index_two_day_trip clearfix">
                    <li>
                        <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北沙崙海水浴場二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo3.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo4.png" alt="台南文化古都三日遊" title="台南文化古都三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台南文化古都三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                </ul>
                <ul class="index_two_day_trip clearfix mt16">
                    <li>
                        <img src="~/images/index_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北沙崙海水浴場二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/index_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                </ul>
            </div>
            <a class="trip_more_btn" href="multipleday_trip.html">瞭解更多</a>
        </div>
    </section>
</div>