@{
    ViewData["Title"] = "小蔡旅行社-首頁";
}

<!-- ... Slider -->
<section class="index_slider banner_place banner_box_height">
</section>
<!-- ... Service -->
<div class="index_wrapper">
    <ul class="fixed_btn_box">
        <li><a href="https://a87827622.pixnet.net/blog"><img src="~/images/pixname.png" alt="痞按鈕" title="痞按鈕"></a></li>
        <li><a href="https://lin.ee/3t3Fq3o"><img src="~/images/line.png" alt="Line按鈕" title="Line按鈕"></a></li>
        <li><a href="https://www.facebook.com/everyday1798"><img src="~/images/fb.png" alt="FB按鈕" title="FB按鈕"></a></li>
        <li><img src="~/images/IG.png" alt="IG按鈕" title="IG按鈕"></li>
        <li><img src="~/images/go_top_btn.png" class="desktop_go_top_btn" alt="回到網頁頂端按鈕" title="回到網頁頂端按鈕"></li>
    </ul>
    <section class="index_news">
        <h2>最新消息</h2>
        <div class="two_day_detail_box">
            <ul id="news_slider" class="news_slider index_two_day_trip responsive slider slick-slider clearfix">
            </ul>
        </div>
    </section>
    <section class="two_day_service">
        <h2>旅遊行程資訊</h2>
        <div class="two_day_detail_box">
            <ul class="two_day_tabs two_day_btn_box clearfix">
                <li id="multi_day_trip" class="tab-link two_day_btn tab_current travel_schedule_btn"><a href="#tab_1">多日旅遊</a></li>
                <li id="island_trip" class="tab-link two_day_btn travel_schedule_btn"><a href="#tab_2">離島旅遊</a></li>
                <!--<li id="car_trip" class="tab-link two_day_btn travel_schedule_btn"><a href="#tab_3">包車旅遊</a></li>
                <li id="foreign_trip" class="tab-link two_day_btn travel_schedule_btn"><a href="#tab_4">國外旅遊</a></li>-->
                <li id="single_day_trip" class="tab-link two_day_btn travel_schedule_btn"><a href="#tab_6">一日服務</a></li>
                <li class="tab-link two_day_btn"><a href="#tab_5">客製服務</a></li>
            </ul>
            <div id="tab_1" class="tab_content tab_content_1 travel_current">
            </div>
            <div id="tab_2" class="tab_content tab_content_2">
            </div>
            <div id="tab_3" class="tab_content tab_content_3">
            </div>
            <div id="tab_4" class="tab_content tab_content_4">
            </div>
            <a class="trip_more_btn" href="/Trip/MultipledayTrip">瞭解更多</a>
        </div>
    </section>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/index.js"></script>
}