@{
    ViewData["Title"] = "媒體報導";
}

<!-- ... Banner ... -->
<section class="banner_box banner_place banner_box_height">
    <div class="banner_detail">
        <div class="banner_text clearfix">
            <img class="banner_icon" src="~/images/banner_media_icon.png" alt="媒體報導ICON">
            <h1>媒體報導</h1>
        </div>
    </div>
</section>

<!-- ... Media ... -->
<section class="news_box">
    <ul class="fixed_btn_box">
        <li><a href="https://a87827622.pixnet.net/blog"><img src="~/images/pixname.png" alt="痞按鈕" title="痞按鈕"></a></li>
        <li><a href="https://lin.ee/3t3Fq3o"><img src="~/images/line.png" alt="Line按鈕" title="Line按鈕"></a></li>
        <li><a href="https://www.facebook.com/everyday1798"><img src="~/images/fb.png" alt="FB按鈕" title="FB按鈕"></a></li>
        <li><img src="~/images/IG.png" alt="IG按鈕" title="IG按鈕"></li>
        <li><img src="~/images/go_top_btn.png" class="desktop_go_top_btn" alt="回到網頁頂端按鈕" title="回到網頁頂端按鈕"></li>
    </ul>
    <div class="container">
        <div class="bread_crumb">
            <a href="index.html"><i class="fa fa-1g fa-home"></i>首頁</a><i class="fa fa-angle-right"></i>媒體報導
        </div>
        <div class="news_detail_box">
            <h1>拍攝影片<span class="orange_title">特集</span></h1>
            <img class="photo_video" src="~/images/media_photo.png" alt="拍攝影片特集" title="拍攝影片特集">
            <div class="mt70">
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="~/js/mediaNews.js"></script>
}