@{
    ViewData["Title"] = "尚騰旅行社-一日旅遊";
}




<!-- ... Banner ... -->
<section class="banner_box">
    <div class="banner_detail">
        <div class="banner_text clearfix">
            <img class="banner_icon" src="~/images/banner_singleday_trip_icon.png" alt="ㄧ日旅遊ICON">
            <h1>一日旅遊</h1>
        </div>
    </div>
</section>

<!-- ...  一日旅遊 ... -->
<section class="news_box">
    <ul class="fixed_btn_box">
        <li><img src="~/images/twitter.png" alt="Twitter按鈕" title="Twitter按鈕"></li>
        <li><img src="~/images/line.png" alt="Line按鈕" title="Line按鈕"></li>
        <li><img src="~/images/fb.png" alt="FB按鈕" title="FB按鈕"></li>
        <li><img src="~/images/IG.png" alt="IG按鈕" title="IG按鈕"></li>
        <li><img src="~/images/go_top_btn.png" id="go_top_btn" alt="回到網頁頂端按鈕" title="回到網頁頂端按鈕"></li>
    </ul>
    <div class="container">
        <div class="bread_crumb">
            <a href="index.html"><i class="fa fa-1g fa-home"></i>首頁</a><i class="fa fa-angle-right"></i><span class="page_name">一日旅遊</span>
        </div>
        <div class="news_detail_box">
            <div id="tab_1" class="tab_content tab_content_1 travel_current">
                <ul class="news_content clearfix mt0">
                    <li>
                        <img src="~/images/multipleday_trip_photo1.png" alt="台北近郊一日遊" title="台北近郊一日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台北近郊一日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo2.png" alt="花蓮清水斷崖一日遊" title="花蓮清水斷崖一日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖一日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo3.png" alt="台東攀登嘉明湖一日遊" title="台東攀登嘉明湖一日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台東攀登嘉明湖一日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                </ul>
                <ul class="news_content clearfix">
                    <li>
                        <img src="~/images/multipleday_trip_photo4.png" alt="台北北海岸一日遊" title="台北北海岸一日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台北北海岸一日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo5.png" alt="金門東莒島一日遊" title="金門東莒島一日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島一日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">4200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo6.png" alt="台東池上稻香一日遊" title="台東池上稻香一日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台東池上稻香一日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3000</span>元起</p>
                    </li>
                </ul>
                <ul class="news_content clearfix">
                    <li>
                        <img src="~/images/multipleday_trip_photo7.png" alt="花蓮太魯閣一日遊" title="花蓮太魯閣一日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮太魯閣一日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">5000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo8.png" alt="宜蘭南方澳一日遊" title="宜蘭南方澳一日遊">
                        <span class="date">2020.01.15</span>
                        <h4>宜蘭南方澳一日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">800</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo9.png" alt="台南文化古都一日遊" title="台南文化古都一日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台南文化古都一日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3000</span>元起</p>
                    </li>
                </ul>
            </div>
            <div id="tab_2" class="tab_content tab_content_2">
                <ul class="news_content clearfix mt0">
                    <li>
                        <img src="~/images/multipleday_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北近郊二日遊-沙崙海水浴場</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo3.png" alt="台東攀登嘉明湖五日遊" title="台東攀登嘉明湖五日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台東攀登嘉明湖五日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                </ul>
                <ul class="news_content clearfix">
                    <li>
                        <img src="~/images/multipleday_trip_photo4.png" alt="台北近郊二日遊-北海岸" title="台北近郊二日遊-北海岸">
                        <span class="date">2020.01.15</span>
                        <h4>台北近郊二日遊-北海岸</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo5.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">4200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo6.png" alt="台東池上稻香三日遊" title="台東池上稻香三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台東池上稻香三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3000</span>元起</p>
                    </li>
                </ul>
                <ul class="news_content clearfix">
                    <li>
                        <img src="~/images/multipleday_trip_photo7.png" alt="花蓮三日遊-太魯閣" title="花蓮三日遊-太魯閣">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮三日遊-太魯閣</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">5000</span>元起</p>
                    </li>
                </ul>
            </div>
            <div id="tab_3" class="tab_content tab_content_3">
                <ul class="news_content clearfix mt0">
                    <li>
                        <img src="~/images/multipleday_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北近郊二日遊-沙崙海水浴場</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo3.png" alt="台東攀登嘉明湖五日遊" title="台東攀登嘉明湖五日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台東攀登嘉明湖五日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                </ul>
                <ul class="news_content clearfix">
                    <li>
                        <img src="~/images/multipleday_trip_photo4.png" alt="台北近郊二日遊-北海岸" title="台北近郊二日遊-北海岸">
                        <span class="date">2020.01.15</span>
                        <h4>台北近郊二日遊-北海岸</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo5.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">4200</span>元起</p>
                    </li>
                </ul>
            </div>
            <div id="tab_4" class="tab_content tab_content_4">
                <ul class="news_content clearfix mt0">
                    <li>
                        <img src="~/images/multipleday_trip_photo1.png" alt="台北近郊二日遊-沙崙海水浴場" title="台北近郊二日遊-沙崙海水浴場">
                        <span class="date">2020.01.15</span>
                        <h4>台北近郊二日遊-沙崙海水浴場</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo2.png" alt="花蓮清水斷崖二日遊" title="花蓮清水斷崖二日遊">
                        <span class="date">2020.01.15</span>
                        <h4>花蓮清水斷崖二日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3500</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo3.png" alt="台東攀登嘉明湖五日遊" title="台東攀登嘉明湖五日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台東攀登嘉明湖五日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">8000</span>元起</p>
                    </li>
                </ul>
                <ul class="news_content clearfix">
                    <li>
                        <img src="~/images/multipleday_trip_photo4.png" alt="台北近郊二日遊-北海岸" title="台北近郊二日遊-北海岸">
                        <span class="date">2020.01.15</span>
                        <h4>台北近郊二日遊-北海岸</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">1000</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo5.png" alt="金門東莒島三日遊" title="金門東莒島三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>金門東莒島三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">4200</span>元起</p>
                    </li>
                    <li>
                        <img src="~/images/multipleday_trip_photo6.png" alt="台東池上稻香三日遊" title="台東池上稻香三日遊">
                        <span class="date">2020.01.15</span>
                        <h4>台東池上稻香三日遊</h4>
                        <p>出發日期:<span>12/02、12/12、12/20、12/24</span></p>
                        <p class="travel_fee">旅費:<span class="dollars">3000</span>元起</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>