@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
body {
    color: #212121;
    font-family: ‘cwTeXYen’, sans-serif;
    font-size: 100%;
    letter-spacing: 1px;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    position: relative;
}
h1 {margin: 0;}
ul.service_box_list,ul.sub_menu,ul.menu_box,ul.fixed_btn_box,ul.footer_menu,ul.company_info,
ul.news_content,ul.two_day_tabs,ul.two_day_btn_box,ul.travel_tabs,ul.rule_tabs,
ul.index_two_day_trip,ul.footer_right,ul.login_modal_link,ul.register_member_btn {list-style-type: none;}
.clearfix:after {clear: both; content: ""; display: block;}

/* --Header--------------------------------- */
.header_box {padding: 22px 0; width: 100%;}
.header_detail {margin: 0 auto; width: 1250px;}
.header_right {float: right; width: 69.84%;}
img.logo {float: left; height: auto; opacity: 1; transition: .4s opacity ease-in-out;}
img.logo:hover {opacity: .7;}
ul.sub_menu {float: right; margin-bottom: 16px;}
ul.sub_menu > li {float: left; margin-left: 20px; position: relative;}
ul.sub_menu > li.member_info {color: #02a2f7; font-weight: 600;}
ul.sub_menu > li.member_info a {color: #02a2f7; padding-right: 4px;}
ul.sub_menu > li:after {
	background-color: rgba(72,72,72,0.3);
	content: '';
	display: block;
	height: 14px;
	position: absolute;
	right: -9px;
	top: 2px;
	width: 1px;
}
ul.sub_menu > li:nth-last-child(1):after,ul.sub_menu > li:nth-last-child(2):after {background-color: none; display: none;}
ul.sub_menu > li a {color: #000; font-weight: 600; text-decoration: none;}
ul.menu_box {float: right;}
ul.menu_box li {float: left; margin-right: 42px;}
ul.menu_box li:first-child {padding-top: 11px;}
ul.menu_box li a{color: #000; font-weight: 600; text-decoration: none;}
ul.menu_box li img {display: block; height: auto; margin: 0 auto 10px auto;}
ul.menu_box li:last-child {margin-right: 0;}
.search{position: relative;}
.search .searchsubmit{
	background: url(../images/search_icon.png) no-repeat;
	border: 0;
	cursor: pointer;
	height: 18px;
	outline: none;
	position: absolute;
	right: 12px;
	text-indent: -9999px;
	top: -1px;
	width: 18px;
}
.search input[type=text]{
	background-color: #fff;
	border: 2px solid #cccccc;
	border-radius: 16px;
	color: #cccccc;
    float: right;
	height: 34px;
    line-height: 32px;
    margin-top: -8px;
	outline: none;
	padding-left: 12px;
	right: 0;
	width: 182px;
}
.search input[type=text]::placeholder {color: #999; font-size: 13px; letter-spacing: 0;}
.search input[type=text]:-ms-input-placeholder {color: #999; font-size: 13px; letter-spacing: 0;}
.search input[type=text]::-ms-input-placeholder {color: #999; font-size: 13px; letter-spacing: 0;}

/* --Index Banner & Content--------------------------------- */
.index_slider {height: 580px; width: 100%;}
.index_slider img {background-size: cover; width: 100%;}
.index_wrapper {background: url(../images/texture_pattern.png) repeat; padding: 60px 0 90px 0;}
.service_box,.index_news,.two_day_service {margin: 0 auto; max-width: 1250px; width: 100%;}
.service_box h2,.index_news h2,.two_day_service h2 {font-size: 26px; padding-left: 20px; position: relative;}
.service_box h2:before {background: #3cab1e;}
.index_news h2:before {background: #f8b12c;}
.index_news > p.news_more_read {opacity: 1; transition: .4s opacity ease-in-out;}
.index_news > p.news_more_read:hover {opacity: .7;}
.index_news > p.news_more_read a {
    color: #333; 
    float: right;
    font-size: 14px;
    font-weight: 600; 
    margin-top: -49.5px; 
    padding-right: 15px;
    position: relative;
    text-decoration: none;
}
.index_news > p.news_more_read a:after {
    content: "";
    background: url(../images/news_more_read_icon.png) no-repeat;
    display: block;
    height: 15px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 8px;
}
.two_day_service h2:before {background: #02a2f7;}
.service_box h2:before,.index_news h2:before,.two_day_service h2:before,
.multiple_day_video_box h2:before,.multiple_day_travel_list_box h2:before {
    content: "";
    display: block;
    height: 26px;
    left: 0;
    position: absolute;
    right: -20px;
    top: 0;
    width: 6px;
}
.service_box_list {margin-top: 26px;}
.service_box_list li {
    background: #fff;
    border: 4px solid #ccc; 
    border-radius: 8px; 
    float: left; 
    margin-right: 30px;
    position: relative;
    width: 290px;
}
.service_box_list li:last-child {margin-right: 0;}
.service_box_list li.service_padding {padding: 18px 0;}
.service_box_list li.service_s_padding {padding: 18px 0 0 0;}
.service_box_list li img {display: block; margin: 0 auto;}
.service_box_list li p {
    bottom: -46px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    transform: translate3d(-50%,0,0);
    width: 100%;
}
.index_news {margin-top: 106px;}
.index_news h2 {margin-bottom: 26px;}
.two_day_service {margin-top: 52px;}
.two_day_tabs {margin: 32px 0 40px 0;}
.two_day_tabs li.two_day_btn {
    background: #e6e6e8;
    border-radius: 8px;
    color: #333;
    cursor: pointer;
    display: block;
    float: left;
    height: 54px;
    margin-right: 35px;
    text-align: center;
    width: 222px;
}
.two_day_tabs li.two_day_btn:last-child {margin-right: 0;}
.two_day_tabs li.two_day_current {background: #02a2f7; color: #fff; position: relative;}
.two_day_tabs li.two_day_current:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 13px 7.5px 0 7.5px;
    border-color: #02a2f7 transparent transparent transparent;
    height: 0;
    margin: 0 auto;
    width: 0;
}
.two_day_tabs li.two_day_btn a {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
}
.two_day_tabs li.two_day_current a {color: #fff;}
ul.index_two_day_trip li {
    float: left; 
    margin-right: 40px;
    outline: none; 
    position: relative;
    width: 22.38%;
}
ul.index_two_day_trip li:last-child {margin-right: 0;}
ul.index_two_day_trip li img {padding-bottom: 6px;}
ul.index_two_day_trip span.date {font-size: 14px; padding-bottom: 10px;}
ul.index_two_day_trip li h4 {font-size: 20px; line-height: 28px; padding: 6px 0;}
ul.index_two_day_trip li p {font-size: 15px; line-height: 22px; padding-bottom: 6px;}
a.trip_more_btn {
    background: #02a2f7;
    border-radius: 62px;
    box-shadow: 7px 7px 20px 0 rgba(0,0,0,.08);
    color: #fff; 
    display: block;
    font-size: 18px;
    font-weight: 600;
    height: 58px;
    line-height: 58px;
    margin: 50px auto 0 auto;
    opacity: 1;
    position: relative;
    text-align: center; 
    text-decoration: none;
    width: 234px;
}
a.trip_more_btn:after {
    content: "";
    background: url(../images/arrow_icon_blue.png);
    display: block;
    height: 20px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate3d(0,-60%,0);
    width: 20px;
}
a.trip_more_btn:hover {opacity: .7; transition: .4s opacity ease-in-out;}
.mt16 {margin-top: 16px;}

/* --Page Banner--------------------------------- */
.banner_box {
    background: linear-gradient(90deg, rgba(2,162,247,1) 0%, rgba(102,192,248,1) 72%, rgba(169,222,255,1) 100%);
    display: block;
    height: 176px;
    padding: 48px 0;
    position: relative;
    width: 100%;
}
.banner_detail,.multiple_day_banner_box .banner_detail {margin: 0 auto; max-width: 1250px; width: 100%;}
.banner_text {max-width: 234px; width: 100%;}
.banner_text img.banner_icon,.multiple_day_banner_box .banner_icon {float: left; height: auto; width: 80px;}
.banner_text h1,.multiple_day_banner_box .banner_text h1 {
    color: #fff; 
    float: right;
    font-size: 32px;
    font-weight: 600;
    padding: 22.5px 0;
}
.multiple_day_banner_box {
    background: linear-gradient(90deg, rgba(2,162,247,1) 0%, rgba(102,192,248,1) 72%, rgba(169,222,255,1) 100%);
    background-image: url(../images/multipleday_tripinfo_banner.jpg);
    background-repeat: no-repeat;
    height: 200px; 
    padding: 60px 0; 
    position: relative;
}
.multiple_day_banner_box .banner_text {max-width: 440px; position: absolute; width: 100%; z-index: 200;}
.container {margin: 0 auto; width: 1250px;}
.bread_crumb {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    width: 100%;
}
.bread_crumb a {
    color: #000; 
    font-weight: 600; 
    opacity: 1; 
    text-decoration:none; 
    transition: .4s opacity ease-in-out;
}
.bread_crumb a:hover {opacity: .7;}
.fa-home {color: #02a2f7; margin-right: 6px;}
.fa-angle-right {margin: 0 6px;}

/* --品牌理念--------------------------------- */
.brand_sales_text h2 {
    font-size: 32px;
    max-width: 626px;
    margin: 0 auto 40px auto;
    position: relative;
    text-align: center;
    width: 100%;
}
.brand_sales_text h2:before {
    content: "";
    background: url(../images/brand_sun_icon.png) no-repeat;
    height: 77px;
    left: -94px;
    position: absolute;
    top: -19.25px;
    width: 77px;
}
.brand_sales_text h3 {font-size: 22px; line-height: 36px; margin-bottom: 60px; text-align: center;}
.brand_sales_text h3 > span.point {color: #02a2f7;}
.brand_spirit {margin: 0 auto; max-width: 916px; width: 100%;}
.brand_spirit img.logo {float: left; height: auto; max-width: 330px;}
.brand_spirit p {
    float: right; 
    font-size: 16px; 
    line-height: 28px; 
    margin-top: 30px;
    max-width: 540px; 
    width: 100%;
}
.mt60 {margin-top: 60px;}

/* --單多日旅遊--------------------------------- */
.news_detail_box ul.travel_btn_box {max-width: 880px; margin: 0 0 40px 0; width: 100%;}
.news_detail_box ul.travel_btn_box li:last-child {margin-right: 0;}
.news_detail_box ul.travel_btn_box li.travel_btn {background: #02a2f7; margin-right: 26px; position: relative;}
.news_detail_box ul.travel_btn_box li.travel_btn:after {
    content: "";
    background: url(../images/arrow_icon_blue.png);
    display: block;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;    
}
.news_detail_box ul.travel_btn_box li.travel_btn_current {background: #e6e6e8; position: relative;}
.news_detail_box ul.travel_btn_box li.travel_btn_current:after {
    content: "";
    background: url(../images/arrow_icon_sliver.png);
    display: block;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
}
.news_detail_box ul.travel_btn_box li.travel_btn_current a {color: #333;}
.tab_content.travel_current {display: inherit;}
ul.news_content.mt0 {margin: 0;}
ul.news_content li p.travel_fee {font-size: 17px; padding-top: 10px;}
span.dollars {
    color: #ffa300; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px; 
    letter-spacing: 0;
    padding: 0 2px;
}

/* --多日旅遊內頁--------------------------------- */
.multiple_day_travel_box {background: url(../images/texture_pattern.png) repeat; padding: 24px 0 80px 0; position: relative; width: 100%;}
.multiple_day_video_box,.multiple_day_travel_list_box {margin: 0 auto; max-width: 1250px; padding-top: 60px; width: 100%;}
.multiple_day_video_box h2,.multiple_day_travel_list_box h2 {font-size: 26px; padding: 0 0 20px 20px; position: relative;}
.multiple_day_video_box h2:before {background: #f8b12c;}
.multiple_day_travel_list_box h2:before {background: #0c9ef0;}
.multiple_day_video_box h3 {font-size: 26px; font-weight: 600; padding: 20px 0;}
.multiple_day_video_box h3 span.video_mark {color: #02a2f7; margin-left: 15px;}
.multiple_day_video_box p {font-size: 16px; line-height: 26px; padding-bottom: 20px;}
.multiple_day_video_box p:last-child {padding-bottom: 0;}
img.multiple_day_video_photo {cursor: pointer; opacity: 1;}
img.multiple_day_video_photo:hover {opacity: .7; transition: .4s opacity ease-in-out;}
.multiple_day_travel_list_tabs {list-style-type: none; margin: 10px auto 20px auto; width: 906px;}
.multiple_day_travel_list_tabs li.two_day_btn {
    background: #e6e6e8;
    border-radius: 8px;
    color: #333;
    cursor: pointer;
    display: block;
    float: left;
    height: 54px;
    margin-right: 35px;
    text-align: center;
    width: 200px;
}
.multiple_day_travel_list_tabs li.two_day_btn:last-child {margin-right: 0;}
.multiple_day_travel_list_tabs li.two_day_current {background: #02a2f7; color: #fff; position: relative;}
.multiple_day_travel_list_tabs li.two_day_current:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 13px 7.5px 0 7.5px;
    border-color: #02a2f7 transparent transparent transparent;
    height: 0;
    margin: 0 auto;
    width: 0;
}
.multiple_day_travel_list_tabs li.two_day_btn a {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
}
.multiple_day_travel_list_tabs li.two_day_current a {color: #fff;}
.tabs_fee_text {margin-top: 34px;}
.tabs_fee_text h3 {font-size: 26px; padding-bottom: 10px;}
.tabs_fee_text p {font-size: 16px; line-height: 30px;}
.tabs_fee_text p.tabs_fee_text_notice {color: #ffa300; font-weight: 600;}
.multiple_day_travel_list_box .travel_table {
    border: none; 
    display: none; 
    margin: 60px auto 0 auto; 
    max-width: 1250px; 
    width: 100%;
}
.multiple_day_travel_list_box .travel_table tr th.order_date {width: 12.16%;}
.multiple_day_travel_list_box .travel_table tr th.place_food_hotel {width: 29.28%;}
.multiple_day_travel_list_box .travel_table tr td {background: #f3f3f3; font-weight: 600;}
.multiple_day_travel_list_box .travel_table tr td.water_blue {background: #c3e3f4; text-align: center;}
span.tabs_brief_btn {
    border: 2px solid #999;
    color: #999; 
    cursor: pointer;
    float: right; 
    font-size: 14px;
    font-weight: 600;
    height: 30px; 
    line-height: 28px;
    margin: -4px 0 20px 0;
    opacity: 1;
    text-align: center; 
    width: 100px;
}
span.tabs_brief_btn:hover {opacity: .7; transition: .4s opacity ease-in-out;}
.timeline_travel h3 {
    border-bottom: 2px solid  #02a2f7; 
    color: #02a2f7; 
    font-size: 26px;
    padding-bottom: 20px; 
    text-align: left;
}
.timeline {
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}
.timeline::after {
    content: '';
    background: #def3ff;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    top: 2%;
    width: 6px;
}
.timeline_container {
    background-color: inherit;
    padding: 10px 40px;
    position: relative;
    width: 50%;
}  
.timeline_container::after {
    content: '';
    background: #02a2f7;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 15px;
    width: 20px;
    z-index: 1;
}
.left {left: 0;}
.right {left: 50%;}
.left::before {
    content: "";
    border: medium solid  #def3ff;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent  #def3ff;
    height: 0;
    position: absolute;
    right: 30px;
    top: 10px;
    width: 0;
    z-index: 1;
}
.right::before {
    content: "";
    border: medium solid  #def3ff;
    border-width: 20px 20px 20px 0;
    border-color: transparent  #def3ff transparent transparent;
    height: 0;
    left: 30px;
    position: absolute;
    top: 10px;
    width: 0;
    z-index: 1;
}
.right::after {left: -10px;}
.content {
    background: #def3ff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.content img {height: auto; width: 100%;}
.content h4 {font-size: 22px; padding: 12px 0;}
.content p {font-size: 16px; line-height: 26px;}

/* --媒體報導--------------------------------- */
.news_detail_box {position: relative;}
.news_detail_box:before {
    content: "";
    background-color: #fff; 
    border-radius: 68px 68px 0 0; 
    display: block;
    height: 30px;
    left: 50%; 
    position: absolute;
    top: -0.68%;
    transform: translate(-50%, -50%);  
    width: 68px; 
}
.news_box h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 0 auto;
    max-width: 275px;
    position: relative;
    text-align: center;
    width: 100%;
}
.news_box h1:before,.news_box h1:after {
    content: "";
    background-image: url(../images/title_decoration.png);
    display: block;
    height: 22px;
    position: absolute;
    top: 8px;
    width: 30px;
}
.news_box h1:before {left: 0;}
.news_box h1:after {right: 0;}
.news_box h1 span.orange_title {color: #ffa300;}
.news_box img.photo_video {cursor: pointer; display: block; margin: 0 auto; padding-top: 36px;}
ul.news_content {border-bottom: 2px solid #dadada; margin-top: 35px; padding-bottom: 30px;}
ul.news_content:last-child {border-bottom: none; padding-bottom: 0;}
ul.news_content li {float: left; margin-right: 40px; position: relative; width: 31%;}
ul.news_content li:last-child {margin-right: 0;}
ul.news_content li img {opacity: 1; padding-bottom: 6px; transition: .4s opacity ease-in-out;}
ul.news_content li span.date {font-size: 14px; padding-bottom: 10px;}
ul.news_content li h4 {font-size: 20px; line-height: 28px; padding: 6px 0;}
ul.news_content li h4 a {color: #000; opacity: 1; text-decoration: none; transition: .4s opacity ease-in-out;}
ul.news_content li img:hover,ul.news_content li h4 a:hover {opacity: .7;}
ul.news_content li p {font-size: 15px; line-height: 22px;}
ul.news_content li img.ticket_icon {width: 54px;}
ul.news_content li img.bag_icon {width: 40px;}
ul.news_content li img.book_icon {width: 58px;}
ul.news_content li img.ticket_icon, ul.news_content li img.bag_icon,ul.news_content li img.book_icon {
    display: block;
    height: auto;
    left: 120px; 
    position: absolute; 
    top: 365px;
}
.mt70 {margin-top: 70px;}

/* --下載專區--------------------------------- */
.download_box,.news_box {background: url(../images/texture_pattern.png) repeat; padding: 24px 0 100px 0; position: relative; width: 100%;}
ul.fixed_btn_box {bottom: 80px; position: fixed; right: 20px; z-index: 1000;}
ul.fixed_btn_box li img {cursor: pointer; height: auto; margin-bottom: 10px;}
.news_detail_box,.doc_rule_regular,.rule_box {
    background: #fff;
    border-radius: 22px;
    box-shadow: rgba(0,0,0,0.2) 0 3px 3px 0;
    letter-spacing: 1px;
    margin-top: 35px;
    padding: 44px;
    width: 100%;
}
.doc_rule_regular:last-child {margin-top: 34px;}
.doc_rule_regular h3,.rule_text h3 {font-size: 24px; font-weight: 600;}
.download_box table {border: none; border-collapse: collapse; margin-top: 24px; width: 100%;}
.download_box table tr {color: #000;}
.download_box table tr:nth-child(odd) {background: #e0f4fe;}
.green_rule table tr:nth-child(odd) {background: #e7f6f4;}
.download_box table td {padding: 14px 36px;}
.download_box table td.doc_rule_text {font-size: 16px; font-weight: 600; width: 85%;}
.download_box table td.doc_rule_btn {width: 15%;}
a.blue_btn,a.green_btn {
    border-radius: 28px;
    color: #fff;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    width: 190px;
}
a.blue_btn {background: #02a2f7;}
a.green_btn {background: #3cb9a1;}
a.blue_btn:hover,a.green_btn:hover {opacity: .7; transition: .4s opacity ease-in-out;}
img.btn_icon {float: right; height: auto;}

/* --條款資訊--------------------------------- */
ul.travel_tabs,ul.rule_tabs {margin: 0 auto; max-width: 420px; width: 100%;}
ul.travel_tabs li.tab-link,ul.rule_tabs li.tab-link {
    background: #02a2f7;
    border-radius: 28px;
    box-shadow: 7px 7px 20px 0 rgba(0,0,0,.08);
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 16px;
    margin-right: 40px;
    padding: 16px;
    text-align: center;
    width: 190px;
}
ul.travel_tabs li.tab-link a,ul.rule_tabs li.tab-link a {color: #fff; font-weight:600; text-decoration: none;}
ul.travel_tabs li.tab-link:last-child,ul.rule_tabs li.tab-link:last-child {margin-right: 0;}
ul.rule_tabs li.rule_current {background: #ffa300;}
.tab_content {display: none;}
.tab_content.rule_current {display: inherit;}
.rule_text {border-bottom: 2px solid #dadada; color: #333; margin-top: 35px; padding-bottom: 32px;}
.rule_text:last-child {border-bottom: none; padding-bottom: 0;}
.rule_text h3 {font-weight: 600; margin-bottom: 20px;}
.rule_text p {font-size: 16px; line-height: 30px; padding-left: 22px;}
.rule_text p a,.register_member_text p a {color: #ffa300; font-weight: 600; text-decoration: none;}
.rule_text p span.main_point,.register_member_text p span.main_point {color: #ffa300; font-weight: 600;}
.rule_text dl {padding-left: 22px;}
.rule_text dl dt {font-size: 16px; line-height: 30px;}
.rule_text dl dd {font-size: 16px; line-height:30px; padding: 0 0 0 15px; position: relative;}
.rule_text dl dd:last-child {padding-bottom: 0;}
.rule_text table.cancel_table {margin: 14px 0 14px 22px; width: 40%;}
.rule_text table.cancel_table tr {border-collapse: collapse;}
.rule_text table.cancel_table tr.white_border {border-bottom: 2px solid #fff;}
.rule_text table.cancel_table tr th {background:#02a2f7; color:#fff; font-weight: 600;}
.rule_text table.cancel_table tr td {background: #f3f3f3;}
.rule_text table.cancel_table tr th,.rule_text table.cancel_table td {padding: 14px 18px; text-align: left;}

/* --會員專區--------------------------------- */
.member_table,.order_table {margin: 0 auto; max-width: 1162px; width: 100%;}
.member_table tr th.member_title {background: #02a2f7; color:#fff;width: 13.08%;}
.member_table tr td.member_text {background: #f3f3f3; border-bottom: 2px solid #fff; padding: 18px; width: 37%;}
.order_table tr th {
    background: #02a2f7; 
    color: #fff; 
    font-size: 15px;
    padding: 16px 10px; 
    text-align: center;
}
.order_table tr td {
    background: #f3f3f3; 
    font-size: 15px; 
    font-weight: 400; 
    line-height: 24px; 
    padding: 18px 12px;
}
.order_table tr td.td_bottom {border-bottom: 2px solid #fff;}
.order_table tr td.td_button {padding: 18px 20px;}
.order_table tr td.light_blue {background: #02a2f7; color: #fff; text-align: center;}
.order_table tr th.order_date {width: 12%;}
.order_table tr th.group_no {width: 12%;}
.order_table tr th.car_no {width: 10%;}
.order_table tr th.itineary {width: 14%;}
.order_table tr th.fee {width: 24%;}
.order_table tr th.cancel {width: 14%;}
a.adjust_btn,a.cancel_btn {
    background: #02a2f7; 
    border-radius: 42px; 
    color: #fff; 
    display: block;
    font-size: 15px;
    font-weight: 600;
    height: 42px; 
    line-height: 42px; 
    text-align: center; 
    text-decoration: none;   
}
a.adjust_btn {margin: 40px auto 0 auto; width: 126.4px;}
.member_divide_border {background: #dadada; height: 1px; margin: 40px 0;}
ul.order_notice {list-style-type: none; margin-top: 24px;}
ul.order_notice li {color: #333; font-size: 14px; line-height: 28px;}

/* --Footer--------------------------------- */
.footer_box {
    background: url(../images/footer.png) no-repeat; 
    background-size: cover;
    font-size: 16px;
    display: block;
    height: 418px;
    width: 100%;
}
.footer_content {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    width: 705px;
}
.footer_content h2 img {
    display: block; 
    height: auto; 
    left: 50%;
    margin: 0 auto; 
    opacity: 1;
    position: absolute;
    padding-top: 30px;
    transform: translate3d(-50%,0,0);
    transition: .4s opacity ease-in-out;
}
.footer_content h2 img:hover,ul.footer_menu li a:hover {opacity: .7;}
ul.footer_menu {list-style-type: none; position: absolute; top: 164px;}
ul.footer_menu li {float: left;}
ul.footer_menu li a {
    color: #fff; 
    font-size: 16px;
    font-weight: 400; 
    margin-right: 20px; 
    text-decoration: none;
    transition: .4s opacity ease-in-out;
}
ul.company_info {list-style-type: none; padding-top: 12px; position: absolute; top: 180px;}
ul.company_info li {font-size: 16px; line-height: 32px; margin-left: 34px;}
ul.company_info li a {color: #fff; font-size: 16px; text-decoration: none;}
ul.company_info li img.icon {height: auto; left: 0; margin-top: 3px; position: absolute;}
ul.register_info {
    left: 50%;
    list-style-type: none; 
    margin: 0 auto; 
    position: absolute; 
    top: 356px; 
    transform: translate3d(-50%,0,0);
    width: 558px;
}
ul.register_info li {float: left; font-size: 16px; margin-right: 20px;}
ul.register_info li:last-child {margin-right: 0;}
p.footer_copyright {
    left: 50%;
    position: absolute; 
    text-align: center; 
    top: 382px;
    transform: translate3d(-50%,0,0);
    width: 100%;
}

/* --Index Modal--------------------------------- */
.mask {
    background: rgba(0,0,0,.75);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; 
    width: 100%; 
    z-index: 2000;
}
.login_modal,.forget_psw_modal,.register_member_modal,.add_member_modal,.member_number_modal {
    background: #fff;
    border-radius: 12px;
    display: none;
    left: 50%;
    margin: 70px auto 0 auto;
    padding: 54px 40px 58px 40px;
    position: absolute;
	transform: translate3d(-50%,0,0);
    width: 450px;
    z-index: 3000;
}
img.modal_close_icon {
    cursor: pointer;
    height: 16px; 
    opacity: 1; 
    position: absolute; 
    right: 20px; 
    top: 20px;
    transition: .4s opacity ease-in-out;
    width: 16px;
}
img.modal_close_icon:hover {opacity: .7;}
.login_modal h3,.forget_psw_modal h3,.register_member_modal h3,
.add_member_modal h3,.member_number_modal h3 {border-bottom: 1px solid #d3d3d3; color: #02a2f7; font-size: 25px; padding-bottom: 10px;}
.login_modal input[name="number"],.login_modal input[name="psw"],
.forget_psw_modal input[name="number"],.forget_psw_modal input[name="psw"],
.add_member_modal input[name="name"],.add_member_modal input[name="date"],
.add_member_modal input[name="number"],.add_member_modal input[name="phone"],
.add_member_modal input[name="contact_name"],.add_member_modal input[name="contact_phone"],
.add_member_modal input[name="email"],.add_member_modal input[name="password"],
.member_number_modal input[name="validate_number"] {
    background: #f5f5f5; 
    border: none; 
    margin-top: 26px;
    outline: none; 
    padding: 14px; 
    position: relative;
    width: 100%;
}
::placeholder {color: rgba(33,33,33,.65); font-weight: 600; letter-spacing: 0;}
:-ms-input-placeholder {color: rgba(33,33,33,.65); font-weight: 600; letter-spacing: 0;}  
::-ms-input-placeholder {color: rgba(33,33,33,.65); font-weight: 600; letter-spacing: 0;}
a.login_btn {
    background: #02a2f7; 
    border-radius: 58px;
    color: #fff;
    display: block; 
    font-size: 18px;
    font-weight: 600;
    height: 48px; 
    line-height: 48px;
    margin-top: 32px;
    max-width: 440px;
    text-align: center;
    text-decoration: none;
}
.register_member_text {height: 265px; margin-top: 10px; overflow-y: scroll; padding-right: 10px;}
.register_member_text p {font-size: 16px; line-height: 28px; padding-bottom: 16px; text-align: justify;}
.register_member_text span.s_title {font-weight: 600;}
.register_member_text::-webkit-scrollbar-track {background:#f5f5f5; border-radius: 10px; height: 55px;}
.register_member_text::-webkit-scrollbar {background:#f5f5f5; height: 55px; width: 10px;}
.register_member_text::-webkit-scrollbar-thumb {background:#02a2f7; border-radius: 10px; height: 55px;}
ul.register_member_btn {margin: -4px auto 0 auto; max-width: 345px; width: 100%;}
ul.register_member_btn li {float: left; margin-right: 24px; width: 160px;}
ul.register_member_btn li:last-child {margin-right: 0;}
ul.register_member_btn li > a.agree_btn,
ul.register_member_btn li > a.disagree_btn {
    background: #02a2f7; 
    border-radius: 58px;
    color: #fff;
    display: block; 
    font-size: 18px;
    font-weight: 600;
    height: 46px; 
    line-height: 44px;
    margin-top: 32px;
    max-width: 160px;
    text-align: center;
    text-decoration: none;
}
ul.login_modal_link {margin: 24px auto 0 auto; max-width: 174px; width: 100%;}
ul.login_modal_link li {float: left;}
ul.login_modal_link li:first-child {border-right: 1px solid #333; padding-right: 18px;}
ul.login_modal_link li:last-child {padding-left: 18px;}
ul.login_modal_link li a {color: rgba(33,33,33,.65); font-weight: 600; text-decoration: none;}
.video_modal {
	background: #fff;
    border: 14px solid #fff;
    border-radius: 8px;
	box-shadow: 0 0 20px 0 #9b9b9b;
	display: none;
	height: 575px;
	margin: 0 auto;
	left: 50%;
	position: absolute;
	top: 140px;
	transform: translate3d(-50%,0,0);
    width: 78%;
    z-index: 3000;
}
.video_close_model {
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 50px;
	opacity: 1;
	position: absolute;
	right: -38px;
	top: -36px;
	transition: opacity .4s ease-out;
	width: 50px
}
.video_close_model:hover {opacity: .82;}
.video_close_model .fa-close {
	color: #02a2f7;
	cursor: pointer;
    left: 12px;
	position: absolute;
	top: 6.5px
}